<div class="container">
    <div class="col-md-4">
        <h2> 相簿目錄</h2>
        <ul class="categories">
            <li class='album' ng-repeat="album in albumCtrl.albums" ui-sref="album.photo({albumId: album.id})">{{album.title}}</li>
        </ul>
    </div>
    <div class="photo-container col-xs-12 col-sm-6 col-md-8 col-xs-6 ">
        <h2>{{album.title}}</h2>
        <ul class="photos row">
            <li class="col-md-4 photo" ng-repeat="photo in albumCtrl.photos.photos">
                <a target="_blank" ng-href="{{photo.link}}">
                    <img class="img-rounded img-responsive" ng-src="{{photo.images.medium}}"/>
                </a>
            </li>
        </ul>
    </div>
</div>